<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="resources/css/login.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/x.x.x/css/font-awesome.min.css">
</head>
<body>
	<div class="login-form">
		<h1>JuntaApp</h1>
		<i class="fa fa-user"></i>
		<form action="auth" method="POST">
			
			<h3>Usuario</h3>
			<input type="text" name="user" placeholder="User" value="holi" autofocus required>
			<h3> Contraseña</h3>
			<input type="password" name="pass" placeholder="Password" value="asd123" required>
			<input type="submit" class="btn-login" value="Conectarse">
		</form>
		<h3> ¿no tienes cuenta?</h3>
		<a href="register" class="btn-register">Registrarse</a>
		
		
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <% if (typeof alert != "undefined")  { %>
    <script>
    Swal.fire({
      title:'<%= alertTitle %>',
      text:'<%= alertMessage %>',
      icon:'<%= alertIcon %>',
      showConfirmButton: <%= showConfirmButton %>,
      timer: <%= timer %>
    }).then(()=>{
      window.location='/<%= ruta %>'
    })
    </script>
  <% } %>
	</div>
</body>
</html>